In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder


df = pd.read_csv('../data/user_with_courses.csv')

df.head()

   user                                               item
0     2  LB0105ENv1, ST0101EN, PY0101EN, ML0120ENv2, DA...
1     4  PY0101EN, BD0153EN, BD0101EN, DS0105EN, BD0135...
2     5  LB0107ENv1, ST0201EN, DB0151EN, DS0110EN, DS02...
3     7                                           BD0211EN
4     8                       BD0111EN, RP0105EN, BD0212EN

In [4]:
df = pd.read_csv("../data/course_processed.csv")

unique_courses = df["COURSE_ID"].unique()

unique_courses

['ML0201EN',
 'ML0122EN',
 'GPXX0ZG0EN',
 'RP0105EN',
 'GPXX0Z2PEN',
 'CNSC02EN',
 'DX0106EN',
 'GPXX0FTCEN',
 'RAVSCTEST1',
 'GPXX06RFEN',
 'GPXX0SDXEN',
 'CC0271EN',
 'WA0103EN',
 'DX0108EN',
 'GPXX0PICEN',
 'DAI101EN',
 'GPXX0W7KEN',
 'GPXX0QR3EN',
 'BD0145EN',
 'HCC105EN',
 'DE0205EN',
 'DS0132EN',
 'OS0101EN',
 'DS0201EN',
 'BENTEST4',
 'CC0210EN',
 'PA0103EN',
 'HCC104EN',
 'GPXX0A1YEN',
 'TMP0105EN',
 'PA0107EN',
 'DB0113EN',
 'PA0109EN',
 'PHPM002EN',
 'GPXX03HFEN',
 'RP0103',
 'RP0103EN',
 'BD0212EN',
 'GPXX0IBEN',
 'SECM03EN',
 'SC0103EN',
 'GPXX0YXHEN',
 'RP0151EN',
 'TA0105',
 'SW0201EN',
 'TMP0106',
 'GPXX0BUBEN',
 'ST0201EN',
 'ST0301EN',
 'SW0101EN',
 'TMP0101EN',
 'DW0101EN',
 'BD0143EN',
 'WA0101EN',
 'GPXX04HEEN',
 'BD0141EN',
 'CO0401EN',
 'ML0122ENv1',
 'BD0151EN',
 'TA0106EN',
 'TMP107',
 'ML0111EN',
 'GPXX048OEN',
 'CO0201EN',
 'GPXX01DCEN',
 'GPXX04XJEN',
 'GPXX0JZ4EN',
 'GPXX0ZYVEN',
 'GPXX0ZMZEN',
 'GPXX0742EN',
 'GPXX0KV4EN',
 'GPXX01RYEN',
 'CC0120EN',
 'QC0101EN',
 'GPXX0YMEEN',
 'GPXX0Q8AEN',
 'TA0105EN',
 'GPXX0XFQEN',
 'GPXX07REN',
 'PA0101EN',
 'BC0202EN',
 'BC0101EN',
 'GPXX0725EN',
 'BC0201EN',
 'GPXX0MIIEN',
 'BD0223EN',
 'GPXX0435EN',
 'GPXX06ZLEN',
 'GPXX0QS6EN',
 'GPXX07YGEN',
 'AI0111EN',
 'GPXX0QJFEN',
 'GPXX0LLEEN',
 'BD0121EN',
 'BD0135EN',
 'BD0133EN',
 'BD0131EN',
 'BD0115EN',
 'GPXX04V3EN',
 'GPXX05P1EN',
 'GPXX0D14EN',
 'GPXX0G3KEN',
 'BD0211EN',
 'GPXX0HZ2EN',
 'GPXX04TNEN',
 'GPXX0IHMEN',
 'ST0101EN',
 'BD0153EN',
 'DP0101EN',
 'BD0137EN',
 'ML0120EN',
 'GPXX0E3QEN',
 'GPXX0XV3EN',
 'CB0201EN',
 'CB0105ENv1',
 'GPXX0NHZEN',
 'CL0101EN',
 'CO0301EN',
 'GPXX0XENEN',
 'GPXX0HAAEN',
 'DA0201EN',
 'DJ0101EN',
 'CP0101EN',
 'DB0111EN',
 'DB0115EN',
 'COM001EN',
 'DA0151EN',
 'DB0151EN',
 'CO0302EN',
 'GPXX0T0FEN',
 'DS0107',
 'DS0110EN',
 'DX0107EN',
 'DS0321EN',
 'DS0105EN',
 'DS0103EN',
 'GPXX0I4FEN',
 'GPXX06KEEN',
 'GPXX0YBFEN',
 'LB0109ENv1',
 'GPXX0KHHEN',
 'LB0111EN',
 'ML0115EN',
 'LB0105ENv1',
 'LB0103ENv1',
 'IT0101EN',
 'CC0250EN',
 'BD0101EN',
 'EE0101EN',
 'GPXX04P5EN',
 'CO0101EN',
 'ML0122ENv3',
 'LB0107ENv1',
 'CB0101EN',
 'GPXX0PG8EN',
 'ML0101EN',
 'CB0103EN',
 'ML0109EN',
 'ML0101ENv3',
 'GPXX0M7ZEN',
 'CC0121EN',
 'DA0101EN',
 'GPXX07UGEN',
 'GPXX0QU9EN',
 'SC0101EN',
 'GPXX0QTEEN',
 'GPXX0WTIEN',
 'GPXX08WYEN',
 'GPXX0UMSEN',
 'GPXX0M6UEN',
 'GPXX097UEN',
 'SN0111EN',
 'GPXX0JGFEN',
 'CO0193EN',
 'GPXX0HC7EN',
 'GPXX04MXEN',
 'DS0101EN',
 'LB0101ENv1',
 'DS0301EN',
 'GPXX0RL8EN',
 'GPXX05LMEN',
 'BD0111EN',
 'CC0101EN',
 'GPXX0UN5EN',
 'BD0221EN',
 'CC0103EN',
 'GPXX0TY1EN',
 'GPXX0T3CEN',
 'PY0101EN',
 'CC0201EN',
 'BD0123EN',
 'DB0101EN',
 'GPXX05RDEN',
 'DV0151EN',
 'GPXX0BSAEN',
 'GPXX0G81EN',
 'GPXX0FFCEN',
 'GPXX0MP0EN',
 'DV0101EN',
 'ML0103EN',
 'ML0151EN',
 'GPXX01AVEN',
 'ML0120ENv2',
 'RP0101EN',
 'GPXX0G31EN',
 'GPXX0KY1EN',
 'GPXX0JLHEN',
 'CC0150EN',
 'GPXX0QQ3EN',
 'GPXX0RQLEN',
 'GPXX0WRDEN',
 'GPXX0ADEN',
 'ML0120ENv3',
 'SC0105EN',
 'excourse01',
 'excourse02',
 'excourse03',
 'excourse04',
 'excourse05',
 'excourse06',
 'excourse07',
 'excourse08',
 'excourse09',
 'excourse10',
 'excourse11',
 'excourse12',
 'excourse13',
 'excourse14',
 'excourse15',
 'excourse16',
 'excourse17',
 'excourse18',
 'excourse19',
 'excourse20',
 'excourse21',
 'excourse22',
 'excourse23',
 'excourse24',
 'excourse25',
 'excourse26',
 'excourse27',
 'excourse28',
 'excourse29',
 'excourse30',
 'excourse31',
 'excourse32',
 'excourse33',
 'excourse34',
 'excourse35',
 'excourse36',
 'excourse37',
 'excourse38',
 'excourse39',
 'excourse40',
 'excourse41',
 'excourse42',
 'excourse43',
 'excourse44',
 'excourse45',
 'excourse46',
 'excourse47',
 'excourse48',
 'excourse49',
 'excourse50',
 'excourse51',
 'excourse52',
 'excourse53',
 'excourse54',
 'excourse55',
 'excourse56',
 'excourse57',
 'excourse58',
 'excourse59',
 'excourse60',
 'excourse61',
 'excourse62',
 'excourse63',
 'excourse64',
 'excourse65',
 'excourse66',
 'excourse67',
 'excourse68',
 'excourse69',
 'excourse70',
 'excourse71',
 'excourse72',
 'excourse73',
 'excourse74',
 'excourse75',
 'excourse76',
 'excourse77',
 'excourse78',
 'excourse79',
 'excourse80',
 'excourse81',
 'excourse82',
 'excourse83',
 'excourse84',
 'excourse85',
 'excourse86',
 'excourse87',
 'excourse88',
 'excourse89',
 'excourse90',
 'excourse91',
 'excourse92',
 'excourse93']

In [2]:
df_model = pd.read_csv('../data/latest_transaction.csv').astype(bool)
df_model

,ML0201EN,ML0122EN,GPXX0ZG0EN,RP0105EN,GPXX0Z2PEN,CNSC02EN,DX0106EN,GPXX0FTCEN,RAVSCTEST1,GPXX06RFEN,...,excourse84,excourse85,excourse86,excourse87,excourse88,excourse89,excourse90,excourse91,excourse92,excourse93
0,False,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33932,True,False,False,True,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
33933,True,False,False,True,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
33934,True,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33935,True,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33936,True,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [3]:
frequent_items = apriori(df_model, min_support=0.016, use_colnames=True)
frequent_items

       support                                           itemsets
0     0.033444                                         (RP0105EN)
1     0.054277                                         (CNSC02EN)
2     0.030174                                         (BD0145EN)
3     0.017356                                         (RP0103EN)
4     0.058697                                         (BD0212EN)
...        ...                                                ...
6082  0.020450  (DV0101EN, DA0101EN, BD0101EN, DS0105EN, ML010...
6083  0.023455  (DV0101EN, DA0101EN, BD0101EN, DS0105EN, BD011...
6084  0.016207  (DV0101EN, DA0101EN, DS0105EN, ML0101ENv3, DS0...
6085  0.016118  (DV0101EN, DA0101EN, ML0101ENv3, DS0101EN, ML0...
6086  0.018917  (DV0101EN, DA0101EN, BD0101EN, BD0211EN, DS010...

[6087 rows x 2 columns]

In [4]:
rules = association_rules(frequent_items, metric='confidence', min_threshold=0.4)
# rules = association_rules(frequent_items, metric="lift", min_threshold=0.9)

rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
43988,"(DV0101EN, DA0101EN, ML0101ENv3, DS0301EN, DS0...",(PY0101EN),0.016501,0.440110,0.016442,0.996429,2.264046,0.009180,156.769308
55145,"(DV0101EN, DA0101EN, ML0101ENv3, DS0101EN, DS0...",(PY0101EN),0.016177,0.440110,0.016118,0.996357,2.263884,0.008998,153.689911
53843,"(DV0101EN, DA0101EN, DS0105EN, ML0101ENv3, DS0...",(PY0101EN),0.016383,0.440110,0.016295,0.994604,2.259901,0.009084,103.766351
45300,"(DV0101EN, DA0101EN, ML0101ENv3, DS0101EN, DS0...",(PY0101EN),0.018652,0.440110,0.018534,0.993681,2.257803,0.010325,88.602653
30140,"(DV0101EN, DA0101EN, DS0101EN, BC0101EN, DS010...",(PY0101EN),0.018210,0.440110,0.018092,0.993528,2.257455,0.010078,86.503065
...,...,...,...,...,...,...,...,...,...
7296,"(ST0101EN, PY0101EN, DS0105EN)",(DS0301EN),0.051271,0.106786,0.020509,0.400000,3.745806,0.015034,1.488690
36409,"(BD0111EN, DS0101EN, ST0101EN)","(DV0101EN, DA0101EN, PY0101EN)",0.045526,0.159030,0.018210,0.400000,2.515249,0.010970,1.401617
15085,"(BC0101EN, DS0101EN, DS0103EN)","(BD0111EN, PY0101EN)",0.049503,0.166308,0.019801,0.400000,2.405174,0.011569,1.389486
31775,"(DS0103EN, RP0101EN, PY0101EN, DS0105EN)","(BD0111EN, BD0211EN)",0.040222,0.178831,0.016089,0.400000,2.236744,0.008896,1.368614
19738,"(BD0101EN, ST0101EN, DS0103EN)","(ML0101ENv3, PY0101EN)",0.041106,0.193712,0.016442,0.400000,2.064922,0.008480,1.343814

In [30]:
rules.to_csv('../data/new_rules.csv')

In [20]:
import pickle

with open('../data/association_rules.pkl', 'wb') as file:
    pickle.dump(rules, file)

In [21]:
#rules.to_csv('../data/association_rules.csv', index=False)
import ast


def recommend_courses(input_courses):
    
    # rules = pd.read_csv("../data/new_rules.csv")
    # 
    # rules['antecedents'] = rules['antecedents'].apply(eval)
    # rules['consequents'] = rules['consequents'].apply(eval)


    with open('../data/association_rules.pkl', 'rb') as file:
        rules = pickle.load(file)

    matching_rules = rules[rules['antecedents'].apply(lambda x: set(input_courses).issubset(x))]
    
    if matching_rules.empty:
        return "No recommendations found for the given courses."
    
    matching_rules = matching_rules.sort_values(['confidence', 'lift'], ascending=[False, False])
    
    recommendations = set()
    for consequent in matching_rules['consequents']:
        recommendations.update(consequent)
    
    recommendations.difference_update(input_courses)
    
    return recommendations if recommendations else "No new recommendations found."

In [40]:

# Load the association rules from the pickle file
with open('../data/association_rules.pkl', 'rb') as file:
    rules = pickle.load(file)

def get_recommendations(taken_courses, top_n=1):

    recommendations = []
    
    for course in taken_courses:
        # Find rows where the course is in the antecedents
        # matches = rules[rules['antecedents'].str.contains(course)]
        
        matches = rules[rules['antecedents'].apply(lambda x: set(input_courses).issubset(x))]

        
        
        # Add the consequent courses to the recommendations list
        for _, row in matches.iterrows():
            recommendations.append(row['consequents'])
    
    # Count the occurrences of each recommended course
    rec_counts = pd.Series(recommendations).value_counts()
    
    # Sort the recommendations by count and select the top N
    top_recommendations = rec_counts.sort_values(ascending=False).head(top_n).index.tolist()
    
    return top_recommendations

In [41]:

# input_courses = ['DS0101EN', 'DA0101EN']      #["data analysis with python", "introduction to data science"]

# input_courses = ['DS0103EN', 'BD0101EN']           #big data 101         data science methodology       

# input_courses = ["BD0101EN", "DS0101EN", "ST0101EN", "PY0101EN"]       

input_courses = ["PA0101EN", "DS0103EN"]

# input_courses = ["GPXX0Z2PEN"]

df_courses = pd.read_csv("../data/course_processed.csv")

filtered_courses = df_courses[df_courses['COURSE_ID'].isin(input_courses)]


filtered_courses

,COURSE_ID,TITLE,DESCRIPTION
79,PA0101EN,predictive modeling fundamentals i,the predictive modelling fundamentals i course...
135,DS0103EN,data science methodology,grab you lab coat beakers and pocket calcula...

In [55]:
  

recommended_courses = get_recommendations(input_courses)

ids = [list(item)[0] for item in recommended_courses]

filtered_courses = df_courses[df_courses['COURSE_ID'].isin(ids)]

# print(f"Recommended Courses: {filtered_courses}")
filtered_courses

,COURSE_ID,TITLE,DESCRIPTION
134,DS0105EN,data science hands on with open source tools,what tools do data scientists use in this cou...
147,BD0101EN,big data 101,how big is big and why does big matter and wha...
176,DS0101EN,introduction to data science,the art of uncovering the insights and trends ...
188,PY0101EN,python for data science,this beginner friendly python course will take...
199,ML0103EN,digital analytics regression,this course uses a case study approach to take...

In [44]:
df = pd.read_csv("../data/course_processed.csv")

search_ids = ['ML0120ENv2', 'DS0103EN', 'BD0101EN', 'ST0101EN', 'RP0101EN', 'ML0101ENv3', 'PY0101EN', 'DB0101EN', 'DS0301EN', 'BC0101EN', 'BD0211EN', 'DS0105EN', 'ML0115EN', 'BD0111EN', 'DV0101EN']  
filtered_courses = df[df['COURSE_ID'].isin(search_ids)]

filtered_courses

,COURSE_ID,TITLE,DESCRIPTION
81,BC0101EN,blockchain essentials,understand blockchain technology and how it ca...
102,BD0211EN,spark fundamentals i,ignite your interest in spark with an introduc...
106,ST0101EN,statistics 101,take this course and you won t fail statistics...
134,DS0105EN,data science hands on with open source tools,what tools do data scientists use in this cou...
135,DS0103EN,data science methodology,grab you lab coat beakers and pocket calcula...
142,ML0115EN,deep learning 101,deep learning 101
147,BD0101EN,big data 101,how big is big and why does big matter and wha...
158,ML0101ENv3,machine learning with python,machine learning can be an incredibly benefici...
178,DS0301EN,data privacy fundamentals,data privacy fundamentals
181,BD0111EN,hadoop 101,this free apache hadoop course introduces you ...
188,PY0101EN,python for data science,this beginner friendly python course will take...
191,DB0101EN,sql and relational databases 101,are you ready to dive into the world of sql an...
198,DV0101EN,data visualization with python,data visualization is the graphical representa...
202,ML0120ENv2,deep learning with tensorflow,majority of data in the world are unlabeled an...
203,RP0101EN,r for data science,are you ready to dive head first into r in ju...